.a:hover{
    text-decoration: underline;
    color: rgb(240, 240, 240) ;
}
.a{
    text-decoration: none;
    font-size: 14px;
    color: #c7c7c8;
    /* margin: 8px 0;
    font-size: 1rem;
    font-weight: 400; */
}
.fontsize{
    font-weight: 700;
   
  }
  .navA{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;

  }
  .navA:hover{
    text-decoration: none;

  }
  .button:hover{
    transform:scale(1.05); /*increase 5 percent*/
  }

  
  .install:hover{
    border-bottom: 1px solid rgb(76, 75, 75); /* Change the color here */
    color: black ;
    font-weight: 600;
    font-size: 19px;
}
.install{
    text-decoration: none;
    font-size: 17px;
    color:black;
    font-weight: 600;
    /* margin: 8px 0;
    font-size: 1rem;
    font-weight: 400; */
}



.profileimage {
  position: relative;
  border-radius: 30vh;
  height: 35vh;
  color:white;
  transition: transform 0.3s;
}

.profileimage:hover img {
  filter: brightness(30%);
}
.profileimage:hover .changeprofile {
  opacity: 1;
}

.changeprofile {
  position: absolute;
  top: 18vh ;
  left: 18vh;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
}


.profileimg {
  position: relative;
  border-radius: 30vh;
  height: 35vh;
  color:white;
  transition: transform 0.3s;
}

.profileimg:hover img {
  filter: brightness(30%);
}
.profileimg:hover .changeimg {
  opacity: 1;
}

.changeimg {
  position: absolute;
  top: 13vh ;
  left: 15vh;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
}

.save:hover{
  transform: scale(1.05);
  font-weight: 500;
}
